<p>
  <strong>Course name:</strong>
  <%= @language.course_name %>
</p>

<p>
  <strong>Course Price:</strong>
  <%= @language.price %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
